@font-face {
    font-family: Oceanfont;
    font-style: normal;
    src: url("/fonts/Simpsonfont.otf");
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #2a7787;
    background-repeat: repeat;
}

.ocean-room-body {
    position: relative;
    background: url(/image/bgColor.png) no-repeat;
    background-size: 100% 100%;
    height: calc(100%);
}

.ocean-room-page {
    position: absolute;
    margin-top: 50px;
    width: 1920px;
    height: 1080px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Oceanfont;
    font-size: xx-large;
    color: #8a0850;
}

.ocean-room-centre-page {
    position: relative;
    background-image: url(/image/bgWater.png);
    background-size: 100% 100%;
    height: calc(100% - 100px);
}


.ButtonFish2 {
    display: block;
    background: url(/image/fish/fish2.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 350px;
    top: 150px;
    width: 250px;
    height: 250px;
    z-index: 5;
    transition: 0.5s;
}

.ButtonBathyscaphe2 {
    display: block;
    background: url(/image/fish/bathyscaphe2.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 1200px;
    top: 150px;
    width: 300px;
    height: 300px;
    transform: rotate(0deg);
    z-index: 5;
    transition: 0.5s;
}

.ButtonBathyscaphe2:hover {
    background: url(/image/fish/bathyscaphe2.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 1200px;
    top: 150px;
    width: 300px;
    height: 300px;
    transform: rotate(10deg);
}

.ButtonExit {
    display: block;
    background: url(/image/mechanics/bubble_one.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 525px;
    top: 800px;
    width: 110px;
    height: 110px;
    transform: rotate(20deg) scale(-1, 1);
    z-index: 6;
    transition: 0.5s;
}

.ButtonExit:hover {
    background: url(/image/mechanics/bubble_one.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 515px;
    top: 790px;
    width: 130px;
    height: 130px;
    transform: rotate(10deg) scale(-1, 1);
}

.modal {
    position: fixed;
    width: 550px;
    top: 27%;
    left: 47%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: #00000000;
    color: #ffffff;
    font-family: Oceanfont;
    font-size: 25px;
    padding: 15px;
    z-index: 7;
}

.modalBlockExit {
    position: fixed;
    width: 150px;
    top: 79%;
    left: 31%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: #00000000;
    color: #ffffff;
    font-family: Oceanfont;
    font-size: 25px;
    padding: 15px;
    z-index: 3;
}

.ButtonGame {
    display: block;
    background: url(/image/mechanics/b_fullSpeed.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;

    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    left: 50%;
    top: 502px;
    width: 100%;
    height: 70px;
    z-index: 7;
    transition: 0.2s;
    border: 0;
    padding: 0;
}

.ButtonGame:hover {
    background: url(/image/mechanics/b_fullSpeed.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;

    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    left: 50%;
    top: 500px;
    width: 100%;
    height: 74px;
    border: 0;
    padding: 0;
}