@font-face {
    font-family: Oceanfont;
    font-style: normal;
    src: url("fonts/Simpsonfont.otf");
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #2a7787;
    background-repeat: repeat;
}

.ocean-room-body {
    position: relative;
    background: url(image/bgColor.png) no-repeat;
    background-size: 100% 100%;
    height: calc(100%);
}

.ocean-room-page {
    position: absolute;
    margin-top: 50px;
    width: 1920px;
    height: 1080px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Oceanfont;
    font-size: xx-large;
    color: #8a0850;
}

.ocean-room-centre-page {
    position: relative;
    background-image: url(image/bgWater.png);
    background-size: 100% 100%;
    height: calc(100% - 100px);
}

.modalBlock {
    position: fixed;
    width: 400px;
    top: 40%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background-color: #00000000;
    color: #ffffff;
    font-family: Oceanfont;
    font-size: 25px;
    padding: 15px;
    z-index: 10;
}

.optionsDepartment {
    font-family: Oceanfont;
    font-size: 20px;
    padding-top: 0.175rem;
    padding-left: 0.5rem;
}

.ButtonRegistration {
    display: block;
    background: url(image/mechanics/b_fullSpeed.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 6%;
    top: 300px;
    width: 90%;
    height: 100px;
    z-index: 5;
    transition: 0.5s;
    border: 0;
    padding: 0;
}

.ButtonRegistration:hover {
    background: url(image/mechanics/b_fullSpeed.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 4%;
    top: 300px;
    width: 94%;
    height: 100px;
    border: 0;
    padding: 0;
}

.ButtonBathyscaphe2 {
    display: block;
    background: url(image/fish/bathyscaphe2.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 950px;
    top: 100px;
    width: 600px;
    height: 600px;
    transform: rotate(0deg);
    z-index: 5;
    transition: 0.5s;
}

.ButtonBathyscaphe2:hover {
    background: url(image/fish/bathyscaphe2.svg) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 950px;
    top: 100px;
    width: 600px;
    height: 600px;
    transform: rotate(5deg);
}